<html lang="pt-br">
  <head>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta http-equiv="Content-Language" content="pt-br" />

      <meta name="viewport" content="width=device-width" />
      <meta
        name="description"
        content="Simple AI Chat Bot Demo with Web Speech API"
      />
      <meta name="author" content="Matheus Viana @moviandev" />

      <title>Chatbot with Web Speech API</title>

      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <link rel="stylesheet" href="css/style.css" />
    </head>
  </head>
  <body>
    <button>Falar</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
